---
ui:
  enabled: true

  resources:
    requests:
      cpu: 1000m
      memory: 1024Mi
    limits:
      cpu: 1000m
      memory: 1024Mi

  ingress:
    enabled: true
    hosts:
      - paths:
          - path: "/"
            pathType: "ImplementationSpecific"
