---
envVarsMap:
  NODE_ENV: test
  BACKEND_URL: http://mock-backend:8080

resources:
  requests:
    cpu: 500m
    memory: 512Mi
  limits:
    memory: 1Gi

livenessProbe:
  failureThreshold: 3
  periodSeconds: 10
  timeoutSeconds: 3
  initialDelaySeconds: 10
readinessProbe:
  failureThreshold: 3
  periodSeconds: 10
  timeoutSeconds: 3
  initialDelaySeconds: 10
