{{ template "header.html" . }}

<div class="sb-heading">
  <h1>Log in to {{ issuer }}</h1>
  <p class="sb-subtitle">Choose a sign-in method to continue.</p>
  <hr>
</div>

<ul class="sb-providers">
  {{ range $c := .Connectors }}
    <li>
      <a href="{{ $c.URL }}" target="_self" class="sb-btn sb-btn-outline">
        <span class="dex-btn-icon dex-btn-icon--{{ $c.Type }}"></span>
        <span class="dex-btn-text">{{ $c.Name }}</span>
      </a>
    </li>
  {{ end }}
</ul>

{{ template "footer.html" . }}
