management:
  server:
    port: 8081
  endpoints:
    web:
      base-path: /
      exposure:
        include: health, prometheus
  metrics:
    distribution:
      percentiles-histogram:
        http:
          server:
            requests: true

spring:
  main:
    banner-mode: off
  application:
    name: support-bot
  cloud:
# Uncomment in case you require Azure integration
#    azure:
#      profile:
#        tenant-id: ${AZURE_TENANT_ID}
#      credential:
#        client-id: ${AZURE_CLIENT_ID}
#        client-secret: ${AZURE_CLIENT_SECRET}
    gcp:
      core:
        enabled: false
      credentials:
        scopes: [ "https://www.googleapis.com/auth/cloud-identity.groups.readonly" ]
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/postgres}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    hikari:
      data-source-properties:
        reWriteBatchedInserts: true

slack:
  mode: socket # socket or http
  enable-request-verification: true
  client:
    methods-base-url: ""
  creds:
    token: ${SLACK_TOKEN} # Token like: xoxb-abc-def
    socket-token: ${SLACK_SOCKET_TOKEN} # Token like: xapp-1-abc-def-ghi
    signing-secret: ${SLACK_SIGNING_SECRET} # Token like: 1234567890abcdef
  ticket:
    channel-id: ${SLACK_TICKET_CHANNEL_ID} # Channel ID like: C1234567890
    expected-initial-reaction: eyes
    response-initial-reaction: ticket
    resolved-reaction: white_check_mark
    escalated-reaction: rocket

ticket:
  staleness-check-job:
    enabled: true
    find-stale-cron: 0 0 9 * * 1-5
    time-to-stale: 3d
    remind-about-stale-cron: 0 10 9 * * 1-5
    stale-reminder-interval: 1d

enums:
  escalation-teams:
    - label: wow
      code: wow
      slack-group-id: S08948NBMED
    - label: infra-integration
      code: infra-integration
      slack-group-id: S08948NBMED
    - label: connected-app
      code: connected-app
      slack-group-id: S08948NBMED
  tags:
    - label: Ingresses
      code: ingresses
    - label: Jenkins Pipelines
      code: jenkins-pipelines
    - label: Networking
      code: networking
    - label: Vault
      code: vault
    - label: Persistence/Brokers
      code: persistence-brokers
    - label: Observability
      code: observability
    - label: DNS
      code: dns
    - label: Osprey
      code: osprey
  impacts:
    - label: Production Blocking
      code: productionBlocking
    - label: BAU Blocking
      code: bauBlocking
    - label: Abnormal Behaviour
      code: abnormalBehaviour

platform-integration:
  enabled: true
  fetch:
    max-concurrency: 64
    timeout: 30s
    ignore-unknown-teams: false # Whether to check for unknown escalation teams and fail if any are found
  kubernetes:
    disable-http-proxy: false
    base-url: ""
  gcp:
    enabled: false
    app-name: Support Bot
    client:
      base-url: ""
  static-user:
    enabled: true
    users:
      wow-group:
        - wow1@test.com
      infra-group:
        - infra1@test.com
        - infra2@test.com
        - infra3@test.com
      connected-app-group:
        - connected-app1@test.com
        - connected-app2@test.com
        - connected-app3@test.com
  azure:
    enabled: false
    client:
      base-url: ""
  teams-scraping:
    static:
      enabled: true
      teams:
        - name: wow
          group-ref: wow-group
        - name: infra-integration
          group-ref: infra-group
        - name: connected-app
          group-ref: connected-app-group
    core-platform:
      enabled: false
    k8s-generic:
      enabled: false
      config:
        api-group: ""
        api-version: v1
        kind: Namespace
        namespace: null
        filter:
          name-regexp: null
          label-selector: "root.tree.hnc.x-k8s.io/depth"
        teamName:
          jq-expression: .metadata.name
        groupRef:
          jq-expression: .metadata.uid

support-team:
  name: Core Support
  code: support
  slack-group-id: S08948NBMED
  static:
    enabled: false
    members:
      - email: coby.ivona@company.com
        slack-id: U0123456781
      - email: sana.chernobog@company.com
        slack-id: U0123456782
      - email: jean.kristijan@company.com
        slack-id: U0123456783

ai:
  sentiment-analysis:
    enabled: false

mock-data:
  enabled: false

rbac:
  enabled: true

logging:
  metrics:
    enabled: false
    # When enabled, each log entry will have this prefix attached for fields
    prefix: "support_bot_ticket_"
