export SLACK_TOKEN=xoxb-abc-def
export SLACK_SOCKET_TOKEN=xapp-1-abc-def-ghi
export SLACK_SIGNING_SECRET=1234567890abcdef
export SLACK_TICKET_CHANNEL_ID=C1234567890
export SLACK_ESCALATION_CHANNEL_ID=C1234567890

# env variables to enable logging
#export AZURE_CLIENT_LOG_LEVEL=BODY
#export LOGGING_LEVEL_COM_GOOGLE_API_CLIENT_HTTP=TRACE
#export LOGGING_LEVEL_COM_SLACK_API=DEBUG
#export LOGGING_LEVEL_IO_FABRIC8_KUBERNETES_CLIENT_HTTP=TRACE
